---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Build for Free">
  <main class="flex justify-center h-screen place-items-center">
    <div>
      <h1 class="text-center text-7xl font-bold">69x Devs</h1>
      <p class="text-center pt-4 pb-14">A community for cracked developers.</p>
    </div>
  </main>
</Layout>

<style></style>
