---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Build for Free">
  <main
    class="flex justify-center h-screen place-items-center flex-col"
    transition:animate="slide"
  >
    <div>
      <h1 class="text-center text-7xl font-bold">69x Devs</h1>
      <p class="text-center pt-4 pb-14">A community for cracked developers.</p>
    </div>
    <div class="flex-row space-x-5">
      <a
        href="https://github.com/69xDevs/registry"
        target="_blank"
        class="px-4 py-3 bg-slate-100 hover:bg-slate-50 active:bg-slate-200 duration-300 text-[#5a5a5a] text-lg font-medium rounded-md"
        >Open Issue</a
      >
      <a
        href="https://discord.gg/SaSq8earnu"
        target="_blank"
        class="px-4 py-3 bg-[#242424] hover:bg-[#323232] active:bg-[#4d4d4d] text-[#fff] text-lg font-medium rounded-md hover:duration-300 hover:-translate-y-0.5"
        >Join Discord Server</a
      >
    </div>
  </main>
</Layout>

<style></style>
